.App {
  text-align: center;
}

.toolbar {
  display: flex;
  list-style: none;
  margin: 5px;
}

.active {
  background-color: lightskyblue;
  margin: 5px;
}

.nonActive {
  margin: 5px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.projectImage {
  margin: 10px;
}

